h2{
  padding-bottom: 5px;
  margin: 40px 0 20px;
  margin-top: 0px;
  color :grey;
}

.hr_under_title{
    width: 500px;
}

.section{
    text-align: center;
    font-size: 15pt;
}
.note{
    color : white;
}
.reserve{
    color : green;
}

.reserve:hover{
        color : green;

}