
h2{
  padding-bottom: 5px;
  margin: 40px 0 20px;
  margin-top: 0px;
  color :grey;
}

.hr_under_title{
    width: 500px;
}



.section{
   margin:auto;
   width: 50%;
   color :#337ab7;
}

.before_information_event{
    color : white;
}