
h2{
  padding-bottom: 5px;
  margin: 40px 0 20px;
  margin-top: 0px;
  color :grey;
}

.hr_under_title{
    width: 500px;
}

.demand {
    color :white;
}


.section{
   text-align: center;
   background-color: white;
   padding: 10px 10px 10px 10px;
   border-radius: 5px;
}


.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
}

.alert{
    width : 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 3px;
}
