
h2{
  padding-bottom: 5px;
  margin: 40px 0 20px;
  margin-top: 0px;
  color :grey;
}

.hr_under_title{
    width: 500px;
}

.demand{
    color: white;
}
.before_information_event {
    color :white;
}

.section{
    color : #337ab7;
    width: 50%;
    margin: auto;
}