h1{
    text-align: center;
    color : red;
}
.affich_pseudo{
    position:absolute;
    text-align: top;
}
form {
    border-top: 1px solid black;
    width : 100%;
    text-align: center;
    
}

.Messages{
    width: 80%;
}

form{
    position:absolute;
    bottom:0;
}
.me{
    color :grey;
    font-style: italic;
}
.ban{
    color:red;
}
.Option{
    width : 80%;
    border: 1px solid black;
    height:500px;
    position: relative;
    margin-left: 10%;
}

.message_p{
    margin-left: 5px;
    margin: auto;
    margin-top: 10px;
    margin-left: 5px;
}