.tab {
   margin-bottom: 30px;
   font-style: bold;
}
.reserve{
    color : green !important;
}
.event span{
    text-align: center;
    color :red;
}
.alert{
    text-align: center;
}
.tab .day{
    height : 75px;
}
.day{
    vertical-align: top;
    text-align: left !important;
    padding-left: 5px;
    padding-top: 5px;
    height:50px;
}

.see_more{
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:black;
    color:white;
    width:90px;
    border-radius:2px;
    border:none;
    margin-top: 5px;
}

.aujourdhui{
    color: red ;
}

.name_event:hover{
        text-decoration: none;
        cursor:pointer;
}

.name_event{
    color: blue;
}
.top_event{
   color : black !important;
   display: inline;
   margin-left: 5px;
 
}
.event{
     text-align: center;
     border-top: solid grey 1px;
     width: 70%;
     margin-left: 16%;
     margin-top: 3px;
     margin-bottom: 10px;
}

.tab td{
    text-align: center;
    height: 50px;
    background-color : #CECECE;
    border : solid grey;
}
.tab td{
    width : 1%;
}
.name_day{
    vertical-align: text-top;
    color:#03224C; 
}

.name_day td{
    padding-top: 5px;
}

.delete_event{
    text-align: center;
    margin-bottom: 20px;
}