body {
  background-color:#111111;
}
.page-header {
  margin: 10px 0 20px;
}

.register_delete{
    text-align: center;
    margin: auto;
}

h1{
  color: #337ab7;
}
.title{
  width: 100%;
}

.sign_in a{
  float: right;
  color: white;
}

.sign_out_div{
  vertical-align: middle;
  float: right;
}
.sign_out a{
  color: white;
  
}
.sign_out{
  color: white;
}


.sign_in{
  vertical-align: middle;
}

footer {
  text-align:center;
}



.glyphicon{
  margin-right:5px;
}

i{
  font-size: 18px;
  margin-right:5px;
}

.panel {
  margin-bottom: 20px;
  background-color: #222;
  border-color: #080808;
  border: 1px solid transparent;
  color: #337ab7;
  border-radius: 4px;

}
