

html {
    height: 100%;

  }
body {
    height: 80%;
    margin: 0;
    padding: 0;
    background-color: black;
}
.page-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.page-td {
    height: 100%;
    padding: 0;
    vertical-align: middle;
}
div.global {
    width: 500px;
    margin: 20px auto;
    text-align: left;
    background-color: hsl(306, 72%, 26%);
    border-style: solid;
    border-radius :14px;
    border-color: #701466 #701466 hsl(306, 69%, 23%);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
    color: black;
    padding: 20px 20px 20px 20px ;
}
.form-group{
  padding-bottom: 10px;
}
hr{
  width: 400px;
}

.title_se_connecter{
  margin-top: 10px;
  margin-left: 5px;
}
.div_bouton{
  text-align: center;
}
div label{
  font-size: 14px;
}

.boutton_submit {
  background-color: hsl(306, 69%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a31e96", endColorstr="#701466");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a31e96), to(#701466));
  background-image: -moz-linear-gradient(top, #a31e96, #701466);
  background-image: -ms-linear-gradient(top, #a31e96, #701466);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a31e96), color-stop(100%, #701466));
  background-image: -webkit-linear-gradient(top, #a31e96, #701466);
  background-image: -o-linear-gradient(top, #a31e96, #701466);
  background-image: linear-gradient(#a31e96, #701466);
  border-color: #701466 #701466 hsl(306, 69%, 23%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
  border-radius : 6px;
  font-size: 22px;
  padding: 9px 14px 9px;
  width: 80%;
  margin-bottom: 10px;
}
